@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/css/index-all.css";

html {
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
  @apply bg-white;
  @apply dark:bg-black;
  @apply transition-colors;
}

@layer base {
  input,
  textarea {
    @apply transition-colors;
    @apply text-black;
    @apply dark:text-white;
    @apply border-neutral-300;
    @apply dark:border-neutral-700;
    @apply focus:z-10;
    @apply bg-white;
    @apply dark:bg-neutral-900;
    @apply dark:placeholder-[#B1B1B1];
    @apply disabled:text-neutral-600;
    @apply dark:disabled:text-neutral-500;
    @apply disabled:bg-neutral-200;
    @apply dark:disabled:bg-neutral-800;
  }

  label {
    @apply text-black;
    @apply dark:text-white;
  }
}
@layer components {
  .styled-panel {
    @apply text-black;
    @apply dark:text-white;

    @apply bg-white;
    @apply dark:bg-neutral-900;

    @apply border-neutral-300;
    @apply dark:border-neutral-700;

    @apply divide-neutral-300;
    @apply dark:divide-neutral-700;

    @apply transition-colors;
  }

  .styled-button {
    @apply text-black;
    @apply dark:text-white;

    @apply bg-white;
    @apply dark:bg-neutral-900;

    @apply border-neutral-300;
    @apply dark:border-neutral-700;

    @apply divide-neutral-300;
    @apply dark:divide-neutral-700;

    @apply hover:bg-blue-200;
    @apply dark:hover:bg-gray-500;

    @apply disabled:text-neutral-600;
    @apply dark:disabled:text-neutral-500;

    @apply disabled:bg-neutral-200;
    @apply dark:disabled:bg-neutral-800;

    @apply font-mono;

    @apply transition-colors;
  }

  .styled-button.button-list {
    @apply odd:bg-white;
    @apply dark:odd:bg-neutral-900;

    @apply even:bg-neutral-100;
    @apply dark:even:bg-neutral-800;

    @apply hover:bg-blue-200;
    @apply dark:hover:bg-gray-700;
  }

  .modal-topbar {
    @apply bg-[#108ee9];
    @apply dark:bg-[#0a5f9c];
  }

  .styled-svg {
    @apply text-blue-500;
    @apply align-text-bottom;
    @apply transition-colors;
  }

  .styled-svg.svg-hover {
    @apply hover:bg-blue-200;
    @apply dark:hover:bg-blue-900;
  }

  .backdrop {
    @apply bg-gray-500;
    @apply bg-opacity-75;
    @apply dark:bg-gray-800;
    @apply dark:bg-opacity-75;
  }

  /* HACK: rc-tree div */
  .force-transistion div {
    @apply transition-colors;
  }
}

/* dropdown menu */
.RootMenu {
  @apply styled-button;
  @apply px-3;
}

.RootMenu.open,
.MenuItem.open,
.MenuItem:focus,
.MenuItem:not([disabled]):active {
  @apply bg-blue-200;
  @apply dark:bg-gray-500;
}

.Menu {
  @apply styled-panel;
  @apply border;
}

.MenuItem {
  @apply styled-button;
  @apply flex;
  @apply justify-between;
  @apply w-full;
  @apply text-left;
  @apply leading-loose;
  @apply min-w-[110px];
}

/* move over grid layer */
#cy > div {
  z-index: 1 !important;
}

/* orverride tailwind base */
*,
::before,
::after {
  box-sizing: content-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
